@import "tailwindcss";



@theme{
  --color-dirty: #f5f5f5;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components{

    .max-container{
      max-width: 1440px;
      margin: 0 auto;
    }

    .padding-x{
      padding: 0 4% 0 4%;
    } 
}

@layer utilities{



}

@layer base{
  
}