@import "tailwindcss";



@theme{
  --color-dirty: #f5f5f5;
}


@layer components{

    .max-container{
      max-width: 1440px;
      margin: 0 auto;
    }

    .padding-x{
      padding: 0 4% 0 4%;
    } 

    .card {
      @apply bg-white rounded shadow p-2 flex items-center gap-2 sm:gap-5;
    }
}

